html, body {
  margin: 0;
  padding: 0;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  background-color: black;
}

* {
box-sizing: border-box;
font-family: "DM Sans", sans-serif;
}



/*-------------------------CAJAS, BORDES Y MARGENES----------------------*/

.contenedorPrincipal {

max-width: 1360px;
padding: 2em;
padding-top: 1em;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
box-shadow: 0 0 25px 25px #ffffff;


}

.cajaMuestra section {

padding: 1em;
margin: 1em;
border: 3px solid black;
border-color: black;
border-radius: 2em;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.cajaMuestra {

display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content: center;
align-items: center;

}

.paginaCanvas section, #futuraBocetos section {

padding: 1em;
margin: 1em;
border: 3px solid black;
border-color: black;
border-radius: 2em;
display: flex;
flex-direction: column;
align-items: center;

}

.paginaFutura, .paginaFutura section {

padding: 0;
margin: 1em;
display: flex;
flex-direction: column;
align-items: center;

}

.paginaCanvas section:nth-child(3), .paginaCanvas section:last-child, #futuraBocetos section:last-child {

border: none;

}

main {

margin-top: 2em;
margin-bottom: 2em;

}

header {

align-self: flex-start;
}

footer {
display: flex;
flex-direction: column;
align-items: center;
border-top: dotted #000000;


}


.paginaCanvas section ul  { 

align-self: flex-start;

}



/*-------------------------IMAGENES Y CANVAS----------------------*/

canvas {
  display: block;
  border-radius: 2em;
  box-shadow: 0 0 25px 0px #000000;

}

#canvasDiv {
  display: flex;
  justify-content: center;
}


.cajaMuestra img {

width: 350px;
height: 350px;
border-radius: 2em;
box-shadow: 0 0 5px 0px #000000;


}

img.futuraCaja {

width: 350px;
height: auto;

}

/*-------------------------TEXTO EN GENERAL Y DISPOSICIONES----------------------*/

h2 {

margin-top: 1.5em;

}

h3 {

margin-left: 1em;
margin-bottom: 2em;

}

.cajaMuestra h3 {

margin-left: 0;

}

.paginaCanvas section h4, #futuraBocetos section h4 {

align-self: flex-start;
margin-bottom: 0.5em;
margin-top: 0.5em;


}


p {


margin-top: 1em;
margin-bottom: 0;

}

.cajaMuestra p {


margin-top: 1em;
margin-left: 1.5em;

}

#futura3 {

align-self: flex-start;
align-items: flex-start;
border: 3px solid black;
border-color: black;
border-radius: 2em;
padding: 1em;

}

#futura3 h4 {

margin-top: 0;
margin-bottom: 0.3em;
}

header h2 {

font-style: italic;
font-weight: 400;

}

header h1 {

padding-bottom: 0.5em;
border-bottom: solid #000000;

}

h3.titulosObras {

font-weight: bold;
font-size: x-large;
margin-bottom: 1em;

}

/*----------------------BOTONES--------------------*/


h3 a {

color: #000000;
padding: 1em;
border-radius: 2em;
text-decoration: none;
font-weight: 600;

}

h3 a#anastrofe {

font-size:large;

}

h3 a:link {background-color: rgb(223, 219, 215);
          border: 3px solid rgb(63, 62, 62);}

h3 a:visited  {background-color: rgb(151, 85, 129);
              border: 3px solid rgb(124, 110, 121);}

h3 a:hover {background-color: rgb(249, 179, 226);
          border: 3px solid rgb(124, 110, 121);}