html, body {
  margin: 0;
  padding: 0;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  background-color: black;
}

* {
box-sizing: border-box;
}



/*-------------------------CAJAS, BORDES Y MARGENES----------------------*/

.contenedorPrincipal {

max-width: 1360px;
padding: 2em;
padding-top: 1em;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;

}

.cajaMuestra section {

padding: 1em;
margin: 1em;
border: 3px solid black;
border-color: black;
border-radius: 2em;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.cajaMuestra {

display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content: center;
align-items: center;

}

.paginaCanvas section {

padding: 1em;
margin: 1em;
border: 3px solid black;
border-color: black;
border-radius: 2em;
display: flex;
flex-direction: column;
align-items: center;

}

.paginaCanvas section:nth-child(3), .paginaCanvas section:last-child {

border: none;

}

main {

margin-top: 2em;
margin-bottom: 2em;

}

header {

align-self: flex-start;
}

footer {
display: flex;
flex-direction: column;
align-items: center;
}




/*-------------------------IMAGENES Y CANVAS----------------------*/

canvas {
  display: block;
  border-radius: 2em;
}

#canvasDiv {
  display: flex;
  justify-content: center;
}


.cajaMuestra img {

width: 350px;
height: 350px;
border-radius: 2em;

}

img.futuraCaja {

width: 350px;
height: auto;

}

/*-------------------------TEXTO EN GENERAL Y DISPOSICIONES----------------------*/

h2 {

margin-top: 1.5em;

}

h3 {

margin-left: 1em;
margin-bottom: 2em;

}

.cajaMuestra h3 {

margin-left: 0;

}

.paginaCanvas section h4 {

align-self: flex-start;
margin-bottom: 0.5em;
margin-top: 0.5em;


}


p {


margin-top: 1em;
margin-bottom: 0;

}

.cajaMuestra p {


margin-top: 1em;
margin-left: 1.5em;

}

